 /* Establece la altura del carrusel */
 #carouselExampleIndicators {
  height: 150px;
}

/* Asegúrate de que las imágenes se ajusten al contenedor del carrusel */
#carouselExampleIndicators .carousel-item img {
  height: 100%;        /* Hace que las imágenes ocupen el 100% de la altura del carrusel */
  width: 100%;         /* Hace que las imágenes ocupen todo el ancho */
  object-fit: cover;   /* Ajusta la imagen para cubrir todo el área sin deformarse */
}
.example {
  text-align: center;
}
.card-img-top {
  height: 200px;      /* Ajusta la altura de las imágenes de las tarjetas */
  object-fit: cover;  /* Ajusta las imágenes para cubrir todo el área sin deformarse */
}
.custom-background {
  background-color: #aeeeee; /* Color celeste claro */
}
.footer-white {
  background-color: #ffffff; /* Color blanco para el fondo del footer */
}